<!DOCTYPE html>
<form class="post-form">
  <input type="text" name="post_title" value="{{this.post_title}}">
  <textarea name="post_post">{{this.post_post}}</textarea>
  <button class="cancel-edit-button">Cancel Edit</button>
  <button class="do-edit-button">Submit Changes</button>
</form>
