<!DOCTYPE html>
<div class="container">
  <div id="top-logo">
    <span class="top-logo"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></span>
    <span class="top-logo-title">GENERIC CMS</span>
  </div>
  <div id="top-search">
    <form id="top-search-form">
      <div class="btn-group" role="group">
        <input type="text" name="top-search" >
        <button type="submit" name="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </div>
    </form>
  </div>
  <div id="top-meta">
    <ul>
      <li><a href="#login">Login</a></li>
    </ul>
  </div>
</div>
