<!DOCTYPE HTML>
<div class="container">
  <div id="top-logo">
    <span class="top-logo"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></span>
    <span class="top-logo-title">generic cms</span>
  </div>
  <div id="top-search">
    <form id="top-search-form">
      <input type="text" name="top-search" placeholder="Search...">
      <button type="submit" name="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>
  </div>
  <div id="top-meta">
    <ul>
      <li><a href="#login">Login</a></li>
    </ul>
  </div>
</div>
