<!DOCTYPE html>
<div class="constrain">
  <div id="top-logo">
    <span class="top-logo"></span>
    <h2 class="top-logo-title">GENERIC CMS</h2>
  </div>
  <div id="top-search">
    <form id="top-search-form">
      <input type="text" name="top-search" >
      <button type="submit" name="submit">Search</button>
    </form>
  </div>
  <div id="top-meta">
    <ul>
      <li><a href="#login">Login</a></li>
    </ul>
  </div>
</div>
