<!DOCTYPE html>
<input type="text" name="post_title" placeholder="Title">
<textarea name="post_post" placeholder="Write Your Post Here"></textarea>
<button type="submit" name="submit">Submit</button>
