
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$orange-accent-color: rgb(223, 127, 0);
$dark-grey-color: rgb(60, 60, 60);
$white: rgb(255,255,255);

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
img {
  max-width: 100%;
}
body{
  background: $dark-grey-color;
}
#header{
  background-color: $orange-accent-color;
  color: $white;
  font-weight: bold;
  padding: 5px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
  a{
    color: $white;
  }
  button{
    background-color: $dark-grey-color;
  }
}
#top-logo{
  @include make-sm-column(3);
  font-size: 20px;
}
#top-search{
  @include make-sm-column(3);
  input, button{
    height: 28px;
    border: none;
  }
  input{
    padding-left: 5px;
    color: $dark-grey-color;
  }
  button{
    margin-left: -4px;
  }
}
#top-meta{
  @include make-sm-column(6);
  text-align: right;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
  }
}
