
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$orange-accent-color: rgb(223, 127, 0);
$dark-grey-color: rgb(60, 60, 60);
$light-grey-color: rgb(200, 200, 200);
$white: rgb(255,255,255);

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body{
  background: $dark-grey-color;
  a{
    color: $dark-grey-color;
    &:hover{
      // color: $dark-grey-color;
      text-decoration: none;
      border-bottom: 3px solid $orange-accent-color;
    }
  }
}
#header{
  background-color: $orange-accent-color;
  color: $white;
  font-weight: bold;
  padding: 5px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
  position: relative;
  z-index: 10;
  a{
    color: $white;
  }
  button{
    background-color: $dark-grey-color;
  }
}
#top-logo{
  @include make-sm-column(2);
  font-size: 20px;
}
#top-search{
  @include make-sm-column(3);
  input, button{
    height: 28px;
    border: none;
  }
  input{
    width: 85%;
    padding-left: 5px;
    color: $dark-grey-color;
  }
  button{
    width: 15%;
    margin-left: -4px;
  }
}
#top-meta{
  @include make-sm-column(6);
  text-align: right;
  ul{
    list-style: none;
  }
  li{
    display: inline-block;
    margin-left: 15px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
  }
}

#app{
  @include make-row();
  padding-top: 25px;
  background-color:$light-grey-color;
}
.post-index{
  @include make-sm-column(12);
  padding-bottom: 20px;
}
.navigation{
  ul{
    list-style: none;
  }
  li{
    display: inline-block;
    a{
      font-weight: bold;
    }
  }
}
.previous-post, .next-post{
  width: 50%;
}
.next-post{
  margin-left: -4px;
  text-align: right;
}
.disabled{
  color: darken($light-grey-color, 25%);
}
