
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body{
  background-color: rgb(61, 61, 61);
}
#new-url-form{
  background: rgb(220, 127, 14);
  padding: 10px;
}
.url-form-element{
  height: 25px;
  background-color: rgb(216, 216, 216);
  &:not(:last-of-type){
    margin-right: 2%;
  }
}
#url-form-submit{
  border: 2px inset;
  margin-right: 2%;
  width: 2%;
  // font-size: 20px;
}
#url-form-url{
  width: 30%;
}
#url-form-title{
  width: 20%;
}
#url-form-tags{
  width: 40%;
}
