<!DOCTYPE html>
<button class="edit-bookmark">Edit</button>
<button class="delete-bookmark">Delete</button>
<div class="url-display url-url-title">{{this.url_title}}</div>
<div class="url-display url-url-address">{{this.url_address}}</div>
