<!DOCTYPE html>
<button id="url-form-submit" class="url-form-element" type="submit" name="submit">+</button>
<input id="url-form-url" class="url-form-element" type="text" name="url_address" placeholder="URL ( http://... )">
<input id="url-form-title" class="url-form-element" type="text" name="url_title" placeholder="Name Your BookMark">
<input id="url-form-tags" class="url-form-element" type="text" name="url_tags" placeholder="URL Tags ( you can add more with a comma separated list )">
