<!DOCTYPE html>
  <label>This Post Will Be Uploaded To {{url}}</label>
  <input type="text" name="post_title" placeholder="New Post Title">
  <textarea name="post_post" placeholder="Write Your Post Here"></textarea>
  <button type="submit" name="Submit">Submit Your Post</button>
