
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.container{
  max-width: 800px;
}
h2{
  font-size: 16px;
  text-align: center;
}
input{
  display: inline-block;
  padding: 5px;
  margin: 5px 0 5px -4px;
}
button{
  margin: 5px 0;
  height: 30px;
}
.first{
  margin-left: 0;
}
.half-width{
  width: 50%;
}
.full-width{
  width: 100%;
  margin-left: 0;
}
.third-width{
  width: 33.333%;
}
.fourth-width{
  width: 25%;
}
.sixth-width{
  width: 16.666%;
}
