<!DOCTYPE html>
<h2>Users Are Being Stored At: {{this.url}}</h2>
<form id="user-form">
<input id="first-name" class="first half-width" type="text" name="firstname" placeholder="First Name">
<input id="last-name" class="half-width" type="text" name="lastname" placeholder="Last Name">
<input id="address-line-one" class="full-width" type="text" name="addresslineone" placeholder="Address">
<input id="address-line-two" class="full-width" type="text" name="addresslinetwo" placeholder="Address Line 2 ( if needed )">
<input id="address-city" class="first half-width" type="text" name="addresscity" placeholder="City">
<input id="address-state" class="sixth-width" type="text" name="addressstate" placeholder="State">
<input id="address-zip" class="sixth-width" type="text" name="addresszip" placeholder="Zip">
<input id="address-country" class="sixth-width" type="text" name="addresscountry" placeholder="Country">
<input id="phone" class="full-width" type="text" name="phone" placeholder="Telephone Number">
<input id="email" class="full-width" type="text" name="email" placeholder="Email">
<button type="submit" class="full-width" name="submit">Create New User</button>
</form>
